<!DOCTYPE html>
<html>
<head>
	<title>about</title>
		<link rel="stylesheet" type="text/css" href="./css_sheets/styles.css">
</head>
<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Orbitron&display=swap" rel="stylesheet">

<body>
	<div class="main">
<header>
	<h1>{{title}}</h1>
	<a href="/weather">Weather</a>&nbsp
	<a href="/about">About</a>&nbsp
	<a href="/help">Help</a>
</header>
	</div>
	<p>HELLO THIS IS YASH WANDHARE . I am a 1st year student from <b>Indian Institute of Information Technology,Surat</b>.</p>
	<img src="yash.jpg">
	<footer>
	created by YASH WANDHARE
    </footer>
	
</body>
</html>