<!DOCTYPE html>
<html>
<head>
	<title>help</title>
	<link rel="stylesheet" type="text/css" href="./css_sheets/styles.css">
</head>
<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Orbitron&display=swap" rel="stylesheet">

<body>
	<div class="main">
<header>
	<h1>{{title}}</h1>
	<a href="/">Weather</a>&nbsp
	<a href="/about">About</a>&nbsp
	<a href="/help">Help</a>
</header>
<p>{{content}}</p>

	</div>
<footer>
	created by YASH WANDHARE
</footer>
</body>
</html>