<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="./css_sheets/styles.css">
</head>
<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Orbitron&display=swap" rel="stylesheet">

<body>
	<div class="main">
<header>
	<h1>{{title}}</h1>
	<a href="/">Weather</a>&nbsp
	<a href="/about">About</a>&nbsp
	<a href="/help">Help</a>
</header>

<div style="display: flex;justify-content:space-between;">
	<form>
		<input placeholder="ENTER THE LOCATION">
		<button id="search">SEARCH</button>
	</form>
	&nbsp;
	<button id="get_location">GET YOUR LOCATION</button>
</div>
	
	<p id="one"></p>
	<p id="sec"></p>
</div>
	
<footer>
	created by YASH WANDHARE
</footer>
	<script type="text/javascript" src="./js/app.js"></script>
</body>
</html>