<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="./css_sheets/styles.css">
</head>
<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Orbitron&display=swap" rel="stylesheet">

<body>
	<div class="main">
<header>
	<h1>{{title}}</h1>
	<a href="/">Weather</a>&nbsp
	<a href="/About">About</a>&nbsp
	<a href="/Help">Help</a>
</header>


	<form>
		<input placeholder="ENTER THE LOCATION">
		<button>SEARCH</button>
	</form>
	<p id="one"></p>
	<p id="sec"></p>
</div>
	
<footer>
	created by YASH WANDHARE
</footer>
	<script type="text/javascript" src="./js/app.js"></script>
</body>
</html>